* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #454545;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .card {
    width: 280px;
    height: 360px;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
  }
  
  .card:hover .card-img {
    opacity: 0.4;
  }
  
  .info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    color: #8494f8;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .card:hover .info {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .starting-bid {
    font-weight: bold;
    font-size: 16px;
    color: #ef1602;
  }
  
  .bid-amount {
    color: #8494f8;
    font-weight: bold;
    font-size: 16px;
  }
  
  .time-left {
    font-weight: bold;
    font-size: 16px;
    color: #f90000;
  }
  
  .time {
    color:  #8494f8;
    font-weight: bold;
    font-size: 16px;
  }
  
  .card .btn {
    background: #fff;
    padding: 0.5rem 1rem;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  
  .card .btn:hover {
    background: #fc5185;
    color: #fff;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
  }
  